# Senhas e Configurações sensíveis
.env
config.php

# Dependências (O Composer baixa isso depois)
vendor/
node_modules/

# Uploads dos usuários (Fotos de perfil, etc)
uploads/
public/uploads/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db
